<nav class="navbar navbar-expand-lg navbar-light" id="cor-bg">
    <a class="navbar-brand" href="#">
        <img src="https://i.imgur.com/VAvKziR.png" alt="" width="266px" height="63px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav m-auto">
            <li class="nav-item active">
                <a class="nav-link text-white" href="#">Tela inicial<span class="sr-only"></span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="#">Produtos</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="#">Ofertas</a>
            </li>


        </ul>

    </div>
</nav>



<div class="container-fluid" id="cor-bg">
    <div class="row">
        <div class="col-md-6 mt-5 mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 text-white">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input class="form-control" type="text" name="nome" id="nome">


                        <div class="form-group">
                            <label for="data">Data de nascimento</label>
                            <input class="form-control" type="text" name="data" id="data">
                        </div>

                        <div class="form-group">
                            <label for="tel">Telefone</label>
                            <input class="form-control" type="text" name="telefone" id="telefone">
                        </div>

                        <div class="form-group">
                            <label for="senha">Senha</label>
                            <input class="form-control" type="password" name="senha" id="senha">
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="col-md-6 mt-5 mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 text-white">
                    <div class="form-group">
                        <label for="sobrenome">Sobrenome</label>
                        <input class="form-control" type="text" name="sobrenome" id="sobrenome">


                        <div class="form-group">
                            <label for="cpf">CPF</label>
                            <input class="form-control" type="text" name="cpf" id="cpf">
                        </div>

                        <div class="form-group">
                            <label for="e-mail">E-mail</label>
                            <input class="form-control" type="text" name="e-mail" id="e-mail">
                        </div>


                        <div class="form-group">
                            <label for="confirmesenha">Confirmar Senha</label>
                            <input class="form-control" type="password" name="confirmesenha" id="confirmSenha">
                        </div>
                    </div>


                </div>

            </div>

        </div>

    </div>
</div>


<h2 class="text-white" id="cor-bg">Endereço</h2>

<form method="get" action=".">
    <div class="container-fluid" id="cor-bg">
        <div class="row">
            <div class="col-md-6 mt-5 mb-5 text-white">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label for="cep">CEP</label>
                            <input class="form-control" type="text" name="cep" id="cep">
                        </div>

                        <div class="form-group">
                            <label for="numero">Numero</label>
                            <input class="form-control" type="text" name="numero" id="numero">
                        </div>

                        <div class="form-group">
                            <label for="bairro">Bairro</label>
                            <input class="form-control" type="text" name="bairro" id="bairro">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-5 mb-5 text-white">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label for="logradouro">Logradouro</label>
                            <input class="form-control" type="text" name="logradouro" id="logradouro">
                        </div>

                        <div class="form-group">
                            <label for="complemento">Complemento</label>
                            <input class="form-control" type="text" name="complemento" id="complemento">
                        </div>

                        <div class="form-group">
                            <label for="cidade">Cidade</label>
                            <input class="form-control" type="text" name="cidade" id="cidade">

                        </div>

                        <div class="bt-im">
                            <button type="submit" class="btn btn-info text text-white mt-5">Cadastrar-se</button>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>